In [85]:
import numpy as np
import pandas as pd

In [87]:
match=pd.read_csv(r"C:\Users\OASIS\Desktop\matches.csv")
delivery=pd.read_csv(r"C:\Users\OASIS\Desktop\deliveries.csv")

In [89]:
match.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [91]:
match.shape

(1095, 20)

In [93]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [95]:
delivery.shape

(260920, 17)

In [97]:
totalscore=delivery.groupby(["match_id","inning"]).sum()["total_runs"].reset_index()

In [99]:
totalscore

      match_id  inning  total_runs
0       335982       1         222
1       335982       2          82
2       335983       1         240
3       335983       2         207
4       335984       1         129
...        ...     ...         ...
2212   1426310       2         174
2213   1426311       1         175
2214   1426311       2         139
2215   1426312       1         113
2216   1426312       2         114

[2217 rows x 3 columns]

In [101]:
totalscore[totalscore["inning"]==1]

      match_id  inning  total_runs
0       335982       1         222
2       335983       1         240
4       335984       1         129
6       335985       1         165
8       335986       1         110
...        ...     ...         ...
2207   1426307       1         214
2209   1426309       1         159
2211   1426310       1         172
2213   1426311       1         175
2215   1426312       1         113

[1095 rows x 3 columns]

In [103]:
match_df=match.merge(totalscore[["match_id","total_runs"]],left_on="id",right_on="match_id")

In [105]:
match_df

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,222
1,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,82
2,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,...,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,240
3,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,...,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,207
4,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,...,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2212,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,...,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar,1426310,174
2213,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,...,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426311,175
2214,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,...,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426311,139
2215,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon,1426312,113
2216,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon,1426312,114

In [107]:
match_df["team1"].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [109]:
team=["Royal Challengers Bangalore",
      "Kings XI Punjab",
      "Mumbai Indians"
      ,"Kolkata Knight Riders",
      "Rajasthan Royals",
      "Chennai Super Kings",
      "Sunrisers Hyderabad",
      "Delhi Capitals",
      "Lucknow Super Giants",
      "Gujarat Titans"]

In [111]:
match_df["team1"]=match_df["team1"].str.replace("Delhi Daredevils","Delhi Capitals")
match_df["team2"]=match_df["team1"].str.replace("Delhi Daredevils","Delhi Capitals")


match_df["team1"]=match_df["team1"].str.replace("Deccan Chargers","Sunrisers Hyderabad")
match_df["team2"]=match_df["team2"].str.replace("Deccan Chargers","Sunrisers Hyderabad")


match_df["team1"]=match_df["team1"].str.replace("Royal Challengers Bengaluru","Royal Challengers Bangalor")
match_df["team2"]=match_df["team2"].str.replace("Royal Challengers Bengaluru","Royal Challengers Bangalor")

In [113]:
match_df=match_df[match_df["team1"].isin(team)]
match_df=match_df[match_df["team2"].isin(team)]

In [115]:
match_df

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Royal Challengers Bangalore,Royal Challengers Bangalore,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,222
1,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Royal Challengers Bangalore,Royal Challengers Bangalore,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,82
2,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Kings XI Punjab,Chennai Super Kings,...,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,240
3,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Kings XI Punjab,Chennai Super Kings,...,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,207
4,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Capitals,Delhi Capitals,Rajasthan Royals,...,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2210,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,...,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit,1426309,164
2213,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Sunrisers Hyderabad,Rajasthan Royals,...,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426311,175
2214,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Sunrisers Hyderabad,Rajasthan Royals,...,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426311,139
2215,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,...,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon,1426312,113
2216,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,...,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon,1426312,114

In [117]:
match_df.shape

(2015, 22)

In [123]:
match_df.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2', 'match_id', 'total_runs'],
      dtype='object')

In [129]:
match_df=match_df[["match_id","city","total_runs","winner"]]

In [133]:
delivery_df=match_df.merge(delivery,on="match_id")

In [135]:
delivery_df

,match_id,city,total_runs_x,winner,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,Bangalore,222,Kolkata Knight Riders,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,Bangalore,222,Kolkata Knight Riders,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,Bangalore,222,Kolkata Knight Riders,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,Bangalore,222,Kolkata Knight Riders,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,Bangalore,222,Kolkata Knight Riders,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481290,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
481291,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
481292,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
481293,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
481294,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [139]:
delivery_df=delivery_df[delivery_df["inning"]==2]

In [149]:
delivery_df.shape

(232218, 20)

In [161]:
print(delivery_df["total_runs_y"].dtype)

int64

In [167]:
delivery_df["current_score"] = delivery_df.groupby("match_id")["total_runs_y"].cumsum()
delivery_df["current_score"]

124         1
125         2
126         2
127         3
128         4
         ...
481290    224
481291    225
481292    226
481293    227
481294    228
Name: current_score, Length: 232218, dtype: int64

In [179]:
delivery_df["runs_left"]=delivery_df["total_runs_x"]-delivery_df["current_score"]
delivery_df

,match_id,city,total_runs_x,winner,inning,batting_team,bowling_team,over,ball,batter,...,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,cumulative_runs,current_score,runs_left
124,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,0,1,NaN,0,NaN,NaN,NaN,1,1,221
125,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,1,1,wides,0,NaN,NaN,NaN,2,2,220
126,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,0,NaN,0,NaN,NaN,NaN,2,2,220
127,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,0,1,NaN,0,NaN,NaN,NaN,3,3,219
128,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,0,1,NaN,0,NaN,NaN,NaN,4,4,218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481290,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,...,0,1,NaN,0,NaN,NaN,NaN,224,224,-110
481291,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,...,0,1,NaN,0,NaN,NaN,NaN,225,225,-111
481292,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,...,0,1,NaN,0,NaN,NaN,NaN,226,226,-112
481293,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,...,0,1,NaN,0,NaN,NaN,NaN,227,227,-113
481294,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,...,0,1,NaN,0,NaN,NaN,NaN,228,228,-114

In [203]:
delivery_df["balls_left"]=120- (delivery_df["over"]*6 +delivery_df["ball"])
delivery_df

,match_id,city,total_runs_x,winner,inning,batting_team,bowling_team,over,ball,batter,...,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,cumulative_runs,current_score,runs_left,balls_left
124,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,1,NaN,0,NaN,NaN,NaN,1,1,221,119
125,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,1,wides,0,NaN,NaN,NaN,2,2,220,118
126,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,NaN,0,NaN,NaN,NaN,2,2,220,117
127,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,1,NaN,0,NaN,NaN,NaN,3,3,219,116
128,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,1,NaN,0,NaN,NaN,NaN,4,4,218,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481290,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,...,1,NaN,0,NaN,NaN,NaN,224,224,-110,61
481291,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,...,1,NaN,0,NaN,NaN,NaN,225,225,-111,60
481292,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,...,1,NaN,0,NaN,NaN,NaN,226,226,-112,59
481293,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,...,1,NaN,0,NaN,NaN,NaN,227,227,-113,58
481294,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,...,1,NaN,0,NaN,NaN,NaN,228,228,-114,57

In [209]:
# Step 1: Replace NaN with "0"
delivery_df["player_dismissed"] = delivery_df["player_dismissed"].fillna(0)

# Step 2: Map values: 0 => 0 (no wicket), name => 1 (wicket)
delivery_df["player_dismissed"] = delivery_df["player_dismissed"].apply(lambda x: 0 if x == 0 else 1)

# Step 3: Now it is numeric, so we can cumsum
delivery_df["wickets_fallen"] = delivery_df.groupby("match_id")["player_dismissed"].cumsum()

# Step 4: Remaining wickets
delivery_df["wickets_left"] = 10 - delivery_df["wickets_fallen"]

# View the result
delivery_df.head()

,match_id,city,total_runs_x,winner,inning,batting_team,bowling_team,over,ball,batter,...,is_wicket,player_dismissed,dismissal_kind,fielder,cumulative_runs,current_score,runs_left,balls_left,wickets_fallen,wickets_left
124,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,0,1,NaN,NaN,1,1,221,119,1,9
125,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,0,1,NaN,NaN,2,2,220,118,2,8
126,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,1,NaN,NaN,2,2,220,117,3,7
127,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,0,1,NaN,NaN,3,3,219,116,4,6
128,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,0,1,NaN,NaN,4,4,218,115,5,5

In [223]:
delivery_df["crr"]=delivery_df["current_score"]/(120-delivery_df["balls_left"])
delivery_df["rrr"]=(delivery_df["runs_left"]*6)/delivery_df["balls_left"]
delivery_df

,match_id,city,total_runs_x,winner,inning,batting_team,bowling_team,over,ball,batter,...,dismissal_kind,fielder,cumulative_runs,current_score,runs_left,balls_left,wickets_fallen,wickets_left,crr,rrr
124,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,NaN,NaN,1,1,221,119,1,9,1.000000,11.142857
125,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,NaN,NaN,2,2,220,118,2,8,1.000000,11.186441
126,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,NaN,NaN,2,2,220,117,3,7,0.666667,11.282051
127,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,NaN,NaN,3,3,219,116,4,6,0.750000,11.327586
128,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,NaN,NaN,4,4,218,115,5,5,0.800000,11.373913
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481290,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,...,NaN,NaN,224,224,-110,61,130,-120,3.796610,-10.819672
481291,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,...,NaN,NaN,225,225,-111,60,131,-121,3.750000,-11.100000
481292,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,...,NaN,NaN,226,226,-112,59,132,-122,3.704918,-11.389831
481293,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,...,NaN,NaN,227,227,-113,58,133,-123,3.661290,-11.689655
481294,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,...,NaN,NaN,228,228,-114,57,134,-124,3.619048,-12.000000

In [237]:
def result(row):
    return 1 if row["batting_team"]==row["winner"] else 0
    
delivery_df["result"]=delivery_df.apply(result,axis=1)

In [239]:
delivery_df

,match_id,city,total_runs_x,winner,inning,batting_team,bowling_team,over,ball,batter,...,fielder,cumulative_runs,current_score,runs_left,balls_left,wickets_fallen,wickets_left,crr,rrr,result
124,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,NaN,1,1,221,119,1,9,1.000000,11.142857,0
125,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,NaN,2,2,220,118,2,8,1.000000,11.186441,0
126,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,NaN,2,2,220,117,3,7,0.666667,11.282051,0
127,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,NaN,3,3,219,116,4,6,0.750000,11.327586,0
128,335982,Bangalore,222,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,NaN,4,4,218,115,5,5,0.800000,11.373913,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481290,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,...,NaN,224,224,-110,61,130,-120,3.796610,-10.819672,1
481291,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,...,NaN,225,225,-111,60,131,-121,3.750000,-11.100000,1
481292,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,...,NaN,226,226,-112,59,132,-122,3.704918,-11.389831,1
481293,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,...,NaN,227,227,-113,58,133,-123,3.661290,-11.689655,1
481294,1426312,Chennai,114,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,...,NaN,228,228,-114,57,134,-124,3.619048,-12.000000,1

In [253]:
final_df=delivery_df[["batting_team","bowling_team","city","runs_left","balls_left","wickets_left","crr","rrr","result"]]

In [255]:
final_df

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,crr,rrr,result
124,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221,119,9,1.000000,11.142857,0
125,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,220,118,8,1.000000,11.186441,0
126,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,220,117,7,0.666667,11.282051,0
127,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,116,6,0.750000,11.327586,0
128,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,218,115,5,0.800000,11.373913,0
...,...,...,...,...,...,...,...,...,...
481290,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,-110,61,-120,3.796610,-10.819672,1
481291,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,-111,60,-121,3.750000,-11.100000,1
481292,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,-112,59,-122,3.704918,-11.389831,1
481293,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,-113,58,-123,3.661290,-11.689655,1
481294,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,-114,57,-124,3.619048,-12.000000,1

In [257]:
final_df=final_df.sample(final_df.shape[0])

In [267]:
final_df

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,crr,rrr,result
413713,Mumbai Indians,Kolkata Knight Riders,Navi Mumbai,137,93,-17,1.037037,8.838710,0
11572,Kings XI Punjab,Royal Challengers Bangalore,Bangalore,45,56,-58,1.265625,4.821429,1
390567,Kolkata Knight Riders,Chennai Super Kings,Dubai,-55,84,-157,6.111111,-3.928571,0
425798,Lucknow Super Giants,Sunrisers Hyderabad,Lucknow,21,46,-68,1.351351,2.739130,1
49075,Deccan Chargers,Kolkata Knight Riders,Johannesburg,45,23,-88,1.185567,11.739130,1
...,...,...,...,...,...,...,...,...,...
182728,Delhi Daredevils,Sunrisers Hyderabad,NaN,-53,79,-156,5.682927,-4.025316,0
361273,Sunrisers Hyderabad,Royal Challengers Bangalore,NaN,-96,41,-163,2.746835,-14.048780,1
219612,Kolkata Knight Riders,Chennai Super Kings,Chennai,-67,66,-168,3.685185,-6.090909,0
181068,Sunrisers Hyderabad,Kings XI Punjab,NaN,81,19,-96,1.108911,25.578947,0
134740,Chennai Super Kings,Rajasthan Royals,Jaipur,-121,11,-222,2.275229,-66.000000,1

In [304]:
final_df=final_df[final_df["balls_left"]!=0]

In [306]:
from sklearn.model_selection import train_test_split

In [308]:
x=final_df.iloc[:,:-1]
y=final_df.iloc[:,-1]
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [310]:
X_train

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,crr,rrr
446115,Gujarat Titans,Mumbai Indians,Mumbai,-100,48,-185,4.041667,-12.500000
194601,Mumbai Indians,Sunrisers Hyderabad,Hyderabad,-122,34,-191,3.279070,-21.529412
109173,Royal Challengers Bangalore,Chennai Super Kings,Bangalore,-8,109,-117,12.454545,-0.440367
160925,Royal Challengers Bangalore,Mumbai Indians,Mumbai,-113,10,-227,2.263636,-67.800000
448454,Mumbai Indians,Lucknow Super Giants,Lucknow,-72,73,-170,5.191489,-5.917808
...,...,...,...,...,...,...,...,...
444182,Sunrisers Hyderabad,Rajasthan Royals,Jaipur,0,119,-116,217.000000,0.000000
33060,Rajasthan Royals,Kings XI Punjab,Cape Town,91,60,-53,0.800000,9.100000
106847,Delhi Daredevils,Kings XI Punjab,Dharamsala,-90,37,-200,2.783133,-14.594595
161369,Kolkata Knight Riders,Chennai Super Kings,Chennai,-79,62,-179,4.568966,-7.645161
250468,Sunrisers Hyderabad,Kings XI Punjab,Chandigarh,0,2,-112,1.516949,0.000000

In [312]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
    ("trf", OneHotEncoder(sparse_output=False, drop="first"), ["batting_team", "bowling_team", "city"])
], remainder="passthrough")

In [314]:
from sklearn.linear_model import LogisticRegression 
from sklearn.pipeline import Pipeline

In [316]:
pipe = Pipeline([
    ("step1", trf),              
    ("step2", LogisticRegression(solver='liblinear')) 
])

In [318]:
final_df.isnull().sum()

batting_team    0
bowling_team    0
city            0
runs_left       0
balls_left      0
wickets_left    0
crr             0
rrr             0
result          0
dtype: int64

In [320]:
final_df.dropna(inplace=True)

C:\Users\OASIS\AppData\Local\Temp\ipykernel_6820\2709626079.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.dropna(inplace=True)

In [322]:
final_df.isnull().sum()

batting_team    0
bowling_team    0
city            0
runs_left       0
balls_left      0
wickets_left    0
crr             0
rrr             0
result          0
dtype: int64

In [324]:
X_train.describe()

,runs_left,balls_left,wickets_left,crr,rrr
count,174740.000000,174740.000000,174740.000000,174740.000000,174740.000000
mean,4.414124,62.857577,-110.600567,4.989356,-8.170158
std,109.238254,33.311623,74.305055,13.347647,77.742617
min,-754.000000,-3.000000,-508.000000,0.000000,-4524.000000
25%,-73.000000,35.000000,-168.000000,1.269663,-7.200000
50%,-1.000000,64.000000,-107.000000,2.214286,-0.050847
75%,92.000000,92.000000,-49.000000,4.150000,8.911765
max,286.000000,119.000000,9.000000,573.000000,3894.000000

In [327]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [329]:
y_pred = pipe.predict(X_test)

In [333]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7366204275969418

In [355]:
import numpy as np

def match_progression(x_df, match_id, pipe):
    # Filter match
    match = x_df[x_df['match_id'] == match_id]
    match = match[match['ball'] == 6]  # Only take end of over deliveries
    
    # Select important columns
    temp_df = match[['batting_team', 'bowling_team', 'city', 'runs_left', 'balls_left', 'wickets_left', 'crr', 'rrr']].dropna()
    temp_df = temp_df[temp_df['balls_left'] != 0]
    
    # Predict probabilities
    result = pipe.predict_proba(temp_df)
    
    temp_df['lose'] = np.round(result.T[0]*100, 1)  # Losing probability
    temp_df['win'] = np.round(result.T[1]*100, 1)   # Winning probability
    temp_df['end_of_over'] = range(1, temp_df.shape[0] + 1)

    # Handling target and run calculation
    target = temp_df['runs_left'].iloc[0] + (temp_df['crr'].iloc[0] * (temp_df['balls_left'].iloc[0] / 6))
    target = int(target)  # Convert to int if needed

    runs = list(temp_df['runs_left'].values)
    new_runs = runs[:]
    runs.insert(0, target)
    temp_df['runs_after_over'] = np.array(runs)[:-1] - np.array(new_runs)

    # Handling wickets
    wickets = list(temp_df['wickets_left'].values)
    new_wickets = [10] + wickets[:-1]  # shift properly

    w = np.array(wickets)
    nw = np.array(new_wickets)

    temp_df['wickets_in_over'] = (nw - w)


    print("Target -", target)
    
    temp_df = temp_df[['end_of_over', 'runs_after_over', 'wickets_in_over', 'lose', 'win']]
    
    return temp_df, target

In [357]:
print(delivery_df["match_id"].unique())

[ 335982  335983  335984  335985  335986  335987  335988  335989  335990
  335991  335992  335993  335994  335995  335996  335997  335998  335999
  336000  336001  336003  336034  336004  336005  336006  336007  336008
  336009  336010  336011  336013  336014  336015  336016  336017  336018
  336020  336021  336022  336023  336024  336025  336026  336027  336028
  336029  336031  336032  336033  336002  336035  336036  336037  336012
  336019  336038  336039  336040  392181  392182  392183  392184  392185
  392186  392188  392189  392190  392191  392192  392194  392195  392196
  392197  392198  392199  392200  392201  392202  392203  392204  392205
  392206  392207  392208  392209  392210  392211  392212  392213  392214
  392215  392216  392217  392218  392219  392220  392221  392222  392223
  392224  392225  392226  392227  392228  392229  392230  392231  392232
  392233  392234  392235  392236  392237  392238  392239  419106  419107
  419108  419109  419110  419111  419112  419113  419114  419115  419116
  419117  419118  419119  419120  419121  419122  419123  419124  419125
  419128  419126  419127  419129  419130  419131  419132  419133  419134
  419135  419136  419137  419138  419139  419140  419141  419142  419143
  419144  419145  419146  419147  419148  419149  419150  419151  419152
  419153  419154  419155  419156  419157  419158  419159  419160  419161
  419162  419163  419164  419165  501198  501199  501201  501203  501204
  501205  501206  501208  501209  501210  501211  501212  501214  501216
  501218  501219  501220  501221  501222  501223  501224  501225  501226
  501227  501230  501231  501232  501234  501235  501236  501237  501238
  501239  501240  501243  501244  501245  501246  501247  501248  501249
  501250  501251  501252  501253  501255  501256  501257  501260  501261
  501263  501264  501266  501267  501268  501269  501270  501271  548306
  548307  548308  548309  548310  548311  548312  548314  548315  548316
  548317  548318  548319  548320  548323  548324  548325  548326  548327
  548328  548321  548330  548331  548332  548333  548334  548335  548336
  548339  548342  548343  548344  548345  548346  548347  548348  548349
  548350  548352  548353  548354  548355  548356  548357  548359  548360
  548329  548361  548363  548364  548365  548366  548367  548368  548369
  548370  548371  548372  548373  548374  548376  548377  548378  548379
  548380  548381  597998  597999  598000  598001  598002  598004  598005
  598006  598048  598007  598008  598010  598011  598012  598013  598014
  598015  598016  598017  598019  598020  598021  598022  598023  598024
  598025  598026  598027  598059  598029  598030  598031  598032  598033
  598034  598035  598036  598037  598039  598040  598041  598043  598044
  598046  598047  598064  598049  598050  598051  598052  598054  598056
  598057  598058  598060  598045  598062  598061  598063  598028  598065
  598066  598068  598069  598070  598071  598072  598073  729279  729281
  729283  729285  729287  729289  729291  729293  729295  729297  729299
  729301  729303  729305  729307  729309  729311  729313  729315  729317
  733971  733973  733975  733977  733979  733981  733983  733985  733987
  733989  733991  733993  733995  733997  733999  734001  734003  734005
  734007  734009  734011  734013  734015  734017  734019  734021  734023
  734025  734027  734029  734031  734033  734035  734037  734039  734041
  734043  734045  734047  734049  829705  829707  829709  829711  829713
  829715  829717  829719  829721  829725  829727  829729  829731  829733
  829735  829737  829739  829741  829743  829745  829747  829749  829751
  829753  829757  829759  829765  829723  829767  829769  829771  829773
  829775  829777  829779  829781  829783  829785  829761  829787  829789
  829791  829793  829795  829797  829799  829801  829803  829805  829807
  829809  829811  829813  829815  829817  829819  829821  829823  980901
  980903  980905  980907  980909  980913  980915  980917  980919  980921
  980923  980925  980927  980933  980935  980941  980943  980945  980947
  980951  980953  980959  980963  980965  980967  980969  980971  980973
  980975  980977  980981  980983  980985  980987  980989  980991  980993
  980995  980999  981003  981009  981011  981015  981019 1082591 1082594
 1082595 1082596 1082597 1082598 1082600 1082601 1082602 1082604 1082605
 1082606 1082607 1082608 1082609 1082611 1082612 1082613 1082614 1082617
 1082618 1082621 1082622 1082623 1082626 1082627 1082628 1082630 1082631
 1082632 1082633 1082634 1082635 1082636 1082637 1082638 1082639 1082641
 1082642 1082644 1082646 1082647 1082648 1082649 1082650 1136561 1136562
 1136563 1136564 1136565 1136566 1136567 1136568 1136569 1136570 1136571
 1136572 1136573 1136574 1136575 1136576 1136577 1136578 1136579 1136580
 1136581 1136582 1136583 1136584 1136585 1136586 1136587 1136588 1136589
 1136590 1136591 1136592 1136593 1136594 1136595 1136596 1136597 1136598
 1136599 1136600 1136601 1136602 1136603 1136604 1136605 1136606 1136607
 1136608 1136609 1136610 1136611 1136612 1136613 1136614 1136615 1136616
 1136617 1136618 1136619 1136620 1175356 1175357 1175358 1175359 1175360
 1175361 1175362 1175363 1175364 1175365 1175366 1175367 1175368 1175369
 1175370 1175371 1175372 1178393 1178394 1178395 1178396 1178397 1178398
 1178399 1178400 1178401 1178402 1178403 1178404 1178405 1178406 1178407
 1178408 1178409 1178410 1178411 1178412 1178413 1178414 1178415 1178416
 1178417 1178418 1178419 1178420 1178421 1178422 1178423 1178424 1178425
 1178426 1178427 1178428 1178429 1178430 1178431 1181764 1181766 1181767
 1181768 1216492 1216493 1216534 1216496 1216508 1216510 1216539 1216545
 1216527 1216547 1216532 1216504 1216503 1216516 1216514 1216515 1216513
 1216538 1216519 1216511 1216501 1216542 1216500 1216523 1216525 1216507
 1216529 1216540 1216528 1216543 1216531 1216526 1216509 1216522 1216512
 1216517 1216533 1216546 1216494 1216518 1216521 1216497 1216498 1216541
 1216544 1216520 1216524 1216499 1216536 1216537 1216502 1216535 1216506
 1216530 1216505 1216495 1237177 1237178 1237180 1237181 1254058 1254059
 1254060 1254062 1254063 1254064 1254066 1254067 1254069 1254070 1254072
 1254073 1254074 1254075 1254076 1254077 1254079 1254080 1254081 1254082
 1254084 1254085 1254104 1254087 1254111 1254105 1254096 1254113 1254097
 1254098 1254108 1254100 1254092 1254103 1254091 1254102 1254089 1254112
 1254090 1254109 1254110 1254093 1254095 1254094 1254106 1254088 1254101
 1254114 1254115 1254116 1254117 1304047 1304048 1304049 1304050 1304051
 1304052 1304053 1304055 1304056 1304058 1304059 1304060 1304061 1304063
 1304064 1304065 1304066 1304067 1304068 1304070 1304071 1304072 1304073
 1304075 1304076 1304077 1304079 1304080 1304081 1304082 1304083 1304085
 1304086 1304087 1304088 1304089 1304090 1304091 1304092 1304093 1304094
 1304095 1304096 1304097 1304099 1304100 1304101 1304102 1304103 1304104
 1304105 1304107 1304108 1304109 1304110 1304111 1304112 1304113 1304114
 1304115 1304116 1312197 1312198 1312199 1312200 1359475 1359477 1359478
 1359479 1359480 1359481 1359483 1359484 1359485 1359486 1359487 1359489
 1359490 1359491 1359493 1359494 1359495 1359496 1359497 1359498 1359499
 1359500 1359501 1359502 1359503 1359504 1359506 1359507 1359508 1359509
 1359510 1359511 1359512 1359513 1359514 1359515 1359516 1359517 1359518
 1359521 1359522 1359523 1359524 1359525 1359526 1359528 1359529 1359530
 1359531 1359532 1359534 1359535 1359536 1359537 1359538 1359539 1359541
 1359542 1359543 1359544 1370350 1370351 1370352 1370353 1422120 1422121
 1422122 1422123 1422125 1422126 1422127 1422129 1422130 1422131 1422132
 1422133 1422134 1422135 1422136 1422138 1422139 1426260 1426261 1426262
 1426264 1426266 1426267 1426268 1426269 1426270 1426271 1426272 1426273
 1426274 1426276 1426277 1426278 1426280 1426281 1426282 1426283 1426284
 1426285 1426286 1426287 1426288 1426289 1426290 1426291 1426292 1426293
 1426294 1426295 1426297 1426298 1426299 1426302 1426303 1426305 1426309
 1426311 1426312]

In [359]:
temp_df, target = match_progression(delivery_df,335982 , pipe)
temp_df

Target - 230

     end_of_over  runs_after_over  wickets_in_over  lose   win
129            1               12                6  86.1  13.9
136            2                5                7  88.1  11.9
142            3                2                6  90.5   9.5
149            4                5                7  91.9   8.1
155            5                8                6  91.9   8.1
161            6                2                6  93.5   6.5
167            7                3                6  94.6   5.4
175            8                9                8  95.0   5.0
181            9                3                6  95.9   4.1
189           10                9                8  96.2   3.8
196           11                6                7  96.6   3.4
202           12                3                6  97.2   2.8
208           13               10                6  97.0   3.0
215           14                8                7  97.1   2.9
221           15                4                6  97.5   2.5
354           16              145                9  22.9  77.1
361           17                5                7  26.3  73.7
367           18                2                6  31.3  68.7
374           19                5                7  35.4  64.6
380           20                8                6  35.3  64.7
386           21                2                6  41.0  59.0
392           22                3                6  46.0  54.0
400           23                9                8  47.9  52.1
406           24                3                6  53.0  47.0
414           25                9                8  54.9  45.1
421           26                6                7  58.3  41.7
427           27                3                6  63.2  36.8
433           28               10                6  61.2  38.8
440           29                8                7  62.6  37.4
446           30                4                6  66.3  33.7

In [363]:
team

['Royal Challengers Bangalore',
 'Kings XI Punjab',
 'Mumbai Indians',
 'Kolkata Knight Riders',
 'Rajasthan Royals',
 'Chennai Super Kings',
 'Sunrisers Hyderabad',
 'Delhi Capitals',
 'Lucknow Super Giants',
 'Gujarat Titans']

In [365]:
delivery_df["city"].unique()

array(['Bangalore', 'Chandigarh', 'Delhi', 'Mumbai', 'Kolkata', 'Jaipur',
       'Hyderabad', 'Chennai', 'Cape Town', 'Port Elizabeth', 'Durban',
       'Centurion', 'East London', 'Johannesburg', 'Kimberley',
       'Bloemfontein', 'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala',
       'Visakhapatnam', 'Pune', 'Raipur', 'Ranchi', 'Abu Dhabi', nan,
       'Indore', 'Bengaluru', 'Dubai', 'Sharjah', 'Navi Mumbai',
       'Lucknow', 'Guwahati', 'Mohali'], dtype=object)

In [367]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))